@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 100px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 11px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 190px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 60px;
}

.u-section-1 .u-text-1 {
  margin: 32px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 0.75rem;
  margin: 20px 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 190px;
  background-image: url("img/vote.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 60px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 285px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-group-1 {
  min-height: 30px;
  margin-top: 103px;
  margin-bottom: 0;
  height: auto;
  width: 100%;
}

.u-section-1 .u-container-layout-4 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-3 {
  margin: 0 auto;
}

.u-section-1 .u-group-2 {
  min-height: 30px;
  height: auto;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-4 {
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 285px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 134px;
  margin: 103px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 157px;
  }

  .u-section-1 .u-image-1 {
    min-height: 157px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 235px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
    width: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 254px;
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1324px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    min-height: 120px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 180px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1024px;
  }

  .u-section-1 .u-image-1 {
    min-height: 180px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 150px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 126px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    min-height: 113px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 94px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 79px;
  }
}

path {
  stroke: white;
  fill:rgb(3, 50, 151) !important;

  transition: fill .4s ease;
}

path:hover {
  fill: orange !important;
}

#us-map {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#details-box {
  padding: 1rem;
  border-radius: 8px;
  font-size: 24px;
  position: fixed;
  color: white;
  font-family: "Poppins";
  background-color: black;
  width: fit-content;
  transform: translateX(-50%);
  transition: opacity .4s ease;
  z-index: 1;
}